<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" sizes="any" href="./favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>
<body>
  <header role="banner">
    <h1><a href="./index.html">森研究室 <span style="font-size: 50%">東京工業大学 情報理工学院 数理・計算科学系 </span></a></h1>
  </header>
  <nav role="navigation">
    <ul role="menubar">
      <li role="menuitem"><a href="./profile.html">教員紹介</a></li>
      <li role="menuitem"><a href="./members.html">メンバー</a></li>
      <li role="menuitem"><a href="./qintro.html">量子力学入門</a></li>
      <li role="menuitem"><a href="./research.html">研究紹介</a></li>
    </ul>
  </nav>
  <main>
{{ content }}
  </main>
  <footer>
    <div id="footer-content">
      東京工業大学 情報理工学院 数理・計算科学系 森研究室
      <address>
        〒152 - 8550
        東京都目黒区大岡山 2 - 12 - 1
        西8号館 E1006
      </address>
    </div>
  </footer>
</body>
</html>
