<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" sizes="any" href="./favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>
<body>
  <header role="banner">
    <h1><a href="./index.html">森研究室 <span style="font-size: 50%">名古屋大学 多元数理科学研究科</span></a></h1>
  </header>
  <nav role="navigation">
    <ul role="menubar">
      <li role="menuitem"><a href="./profile.html">教員紹介</a></li>
      <li role="menuitem"><a href="./members.html">メンバー</a></li>
      <li role="menuitem"><a href="./qintro.html">量子力学入門</a></li>
      <li role="menuitem"><a href="./research.html">研究紹介</a></li>
    </ul>
  </nav>
  <main>
{{ content }}
  </main>
  <footer>
    <div id="footer-content">
      名古屋大学 多元数理科学研究科
      <address>
        〒464 - 8602
        愛知県名古屋市千種区不老町
        多元数理科学棟 402号室
      </address>
    </div>
  </footer>
</body>
</html>
