<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <style>
  <!--
    body { max-width:1240px; margin-left: auto; margin-right: auto; }
    td, th { padding: 0 10px 0 10px; }
  -->
  </style>
</head>
<body>
  <main>
{{ content }}
  </main>
  <footer>
    <div id="footer-content">
    </div>
  </footer>
</body>
</html>
