---
import "../styles/global.css";
const {frontmatter} = Astro.props;
---
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{frontmatter.title}</title>
  <style>
  <!--
    body { max-width:1240px; margin-left: auto; margin-right: auto; }
    td, th { padding: 0 10px 0 10px; }
  -->
  </style>
</head>
<body>
  <main class="pt-12 pb-12">
    <slot />
  </main>
  <footer>
  </footer>
</body>
</html>
